.content
	margin-top: 60px

.about-text, .sertificate-text
	p
		font-family: $baseFont
		font-size: 1.3rem
		line-height: 1.8rem
.sertificate-img
	+display-flex
	justify-content: center
	a
		width: 50%
		img
			height: auto
			width: 50%	
.about-us-main
	img
		float: left
		margin-right: 2rem
		margin-bottom: 2rem
		box-shadow: 4px 4px 10px rgba(0,0,0,0.3)
		border-radius: 2px					